@import "variables";
@import "starter";
@import "loader";
@import "header";
@import "footer";

body {
  background-color: $background;
  display: flex;
  justify-content: center;
}

/* MAIN */

#hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  flex-direction: column;

  .blurDiv {
    bottom: -20px;
    position: absolute;
    width: 100%;
    height: 70px;
    background: rgb(0, 0, 0);
    filter: blur(5px);
  }

  #background-vanta {
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  #accueil {
    width: 80%;
    height: 60%;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
    margin-top: 50px;

    h1 {
      font-size: 45px;
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h3 {
      font-size: 22px;
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 17px;
    }

    img {
      width: 300px;
      height: 400px;
      object-fit: cover;
      border: solid 3px white;
      border-radius: 40px;
      transition: all 0.3s ease;
      cursor: pointer;
      margin-left: 80px;

      &:hover {
        transform: scale(1.1);
        border: none;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 30px;
      width: 65%;
      border-left: solid white 3px;

      button {
        width: 200px;
        height: 60px;
        border-radius: 20px;
        color: white;
        border: solid 2px white;
        background-color: black;
        transition: all 0.3s ease;
        font-weight: bold;
        font-size: 15px;

        &:hover {
          transform: scale(1.1);
          background-color: white;
          color: black;
          cursor: pointer;
          border: solid 2px black;
          font-weight: bold;
          font-size: 15px;
        }
      }
    }
  }
}

#mes-competences {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px 100px 50px 100px;
  flex-direction: column;
  gap: 70px;

  .info-competences {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
      font-size: 55px;
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 25px;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .section-card {
    display: flex;
    justify-content: space-around;

    .groupe-card {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .react {
        width: 85px;
        height: 85px;
        object-fit: cover;
      }

      .js {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      .sass {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }

      .titre-competence {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      p {
        background: linear-gradient(90deg, #ffffff, #a5a5a5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
      }

      h4 {
        font-weight: bold;
        background: linear-gradient(90deg, #ffffff, #a5a5a5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
      }
    }

    #competence-card {
      width: 350px;
      height: 200px;
      background: linear-gradient(to bottom, #161616, #000000);
      border-radius: 24px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease 0.3s all;
      border-top: solid rgb(67, 67, 67) 1px;
      border-right: solid rgb(67, 67, 67) 1px;
      border-left: solid rgb(67, 67, 67) 1px;
    }

    #competence-card::after,
    #competence-card::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      padding: 2px;
      border-radius: 24px;
      background-image: conic-gradient(
        from var(--angle),
        transparent 90%,
        rgb(255, 255, 255)
      );
      animation: spin 5s linear infinite;
    }

    #competence-card::before {
      filter: blur(1.5rem);
      opacity: 0.5;
    }

    @keyframes spin {
      from {
        --angle: 0deg;
      }
      to {
        --angle: 360deg;
      }
    }
  }
}

#projet {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px 100px 50px 100px;
  flex-direction: column;
  align-items: center;
  gap: 120px;

  .gap-perso {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }

  .info-projet {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
      font-size: 55px;
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 25px;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .columnCard {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

    .projetTechno {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;

      .cours {
        font-size: 14px;
      }
    }

    .projetTechnoGap {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .secondButton {
      width: 180px;
      height: 50px;
      border-radius: 20px;
      color: white;
      border: solid 2px rgb(255, 255, 255);
      background: transparent;
      transition: all 0.3s ease;
      font-weight: bold;
      font-size: 15px;
      transition: ease 0.3s all;

      &:hover {
        transform: scale(1.1);
        background-color: white;
        color: black;
        cursor: pointer;
        border: solid 2px black;
        font-weight: bold;
        font-size: 15px;
      }
    }
    h3 {
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 25px;
      text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
      width: 100%;
    }

    p {
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 18px;
      text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
    }
  }

  .projet-card {
    width: 1000px;
    height: 400px;
    background: linear-gradient(to bottom, #161616, #000000);
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s all;
    border-top: solid rgb(67, 67, 67) 1px;
    border-right: solid rgb(67, 67, 67) 1px;
    border-left: solid rgb(67, 67, 67) 1px;
    padding: 30px;

    video {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      object-fit: cover;
      opacity: 0.5;
    }

    .text-projet {
      display: flex;
      flex-direction: column;
      gap: 50px;
      z-index: 10;
      justify-content: center;
      align-items: center;

      h3 {
        text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
        font-size: 40px;
        font-weight: bold;
        background: linear-gradient(90deg, #ffffff, #a5a5a5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 70%;
      }

      button {
        width: 250px;
        height: 65px;
        border-radius: 20px;
        color: white;
        border: solid 2px white;
        background: transparent;
        transition: all 0.3s ease;
        font-weight: bold;
        font-size: 15px;
        transition: ease 0.3s all;

        &:hover {
          transform: scale(1.1);
          background-color: white;
          color: black;
          cursor: pointer;
          border: solid 2px black;
          font-weight: bold;
          font-size: 15px;
        }
      }
    }
  }

  .projet-card::after,
  .projet-card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2px;
    border-radius: 24px;
    background-image: conic-gradient(
      from var(--angle),
      transparent 90%,
      rgb(255, 255, 255)
    );
    animation: spin 5s linear infinite;
  }

  .projet-card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }

  .card-projet::after,
  .card-projet::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2px;
    border-radius: 24px;
    background-image: conic-gradient(
      from var(--angle),
      transparent 90%,
      rgb(255, 255, 255)
    );
    animation: spin 5s linear infinite;
  }

  .card-projet::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }

  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }

  #grid-projet {
    justify-content: center;
    align-items: center;
    display: grid;
    width: 100%;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;

    .card-projet {
      display: flex;
      width: 350px;
      height: 500px;
      border-radius: 24px;
      position: relative;
      align-items: center;
      justify-content: center;
      z-index: -2;
      transition: ease 0.3s all;
      border: 2px solid white;
      transition: ease 0.3s all;
      border-top: solid rgb(67, 67, 67) 1px;
      border-right: solid rgb(67, 67, 67) 1px;
      border-left: solid rgb(67, 67, 67) 1px;
      border-bottom: solid rgb(67, 67, 67) 1px;
      padding: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
        position: absolute;
      }
    }
  }
}

#faq {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px 100px 50px 100px;
  flex-direction: column;
  align-items: center;
  gap: 120px;

  .gap-perso {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
      font-size: 55px;
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 25px;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 60px;

    .question-container {
      display: flex;
      width: 80%;
      background-color: black;
      border: solid rgb(67, 67, 67) 1px;
      border-radius: 24px;
      justify-content: center;
      padding: 25px 25px 25px 25px;
      cursor: pointer;
      flex-direction: column;
      transition: ease 0.3s all;
      &,
      &:has(> .reponse.suppression) {
        gap: 0;
      }
      &:has(> .reponse) {
        gap: 25px;
      }

      @keyframes entrance {
        from {
          max-height: 0;
          opacity: 0;
        }
        to {
          opacity: 1;
          max-height: 150px;
        }
      }

      .reponse {
        overflow: hidden;
        font-size: 16px;
        background: gray;
        background-clip: text;
        font-weight: bold;
        display: flex;
        justify-content: start;
        padding-left: 45px;

        opacity: 1;
        max-height: 150px;

        animation: entrance 0.25s ease-in-out;
        &.suppression {
          max-height: 0 !important;
          opacity: 0 !important;
          transition: 0.25s;
        }
      }

      .question-colonne {
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 100%;
        align-items: center;
      }

      p {
        font-size: 21px;
        background: linear-gradient(90deg, #ffffff, #a5a5a5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .plus {
        font-size: 30px;
        rotate: 0;
        transition: 0.25s;
      }

      &.open .plus {
        rotate: 45deg;
      }
    }
  }
}

#reassurance {
  width: 100%;
  height: 700px;
  padding: 150px 0px 50px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  h2 {
    text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
    font-size: 50px;
    width: 60%;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(90deg, #ffffff, #a5a5a5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    font-size: 20px;
    color: gray;
    background-clip: text;
  }

  a {
    text-decoration: none !important;
  }

  .styleButton {
    width: 170px;
    height: 70px;
    border: solid 1px #434343;
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: rgba(255, 255, 255, 0.06) 0px 0px 10px 0px inset;
    backdrop-filter: blur(6px);
    opacity: 1;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 150px;
    height: 50px;
    border-radius: 16px;
    color: white;
    border: solid 1px #434343;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 15px;
    transition: ease 0.3s all;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background: transparent;
    overflow: hidden;

    &:hover {
      color: black;
    }
  }

  button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    background-color: white;
    width: 0%;
    height: 100%;
    transition: ease all 0.5s;
    border-radius: 16px;
    z-index: -1;
  }

  button:hover::before {
    width: 100%;
    height: 100%;
  }

  video {
    position: absolute;
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 50%;
    filter: blur(20px);
    z-index: -1;
  }
}

#contact {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 150px 100px 50px 100px;
  flex-direction: column;
  align-items: center;
  gap: 120px;

  .gap-perso {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
      font-size: 55px;
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      font-size: 25px;

      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  form {
    width: 1000px;
    height: 600px;
    background: linear-gradient(to top, #161616, #000000);
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s all;
    border-top: solid rgb(67, 67, 67) 1px;
    border-right: solid rgb(67, 67, 67) 1px;
    border-left: solid rgb(67, 67, 67) 1px;
    border-bottom: solid rgb(67, 67, 67) 1px;
    padding: 50px;
    gap: 50px;

    label {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-shadow: 0 0 54px rgba(202, 228, 225, 0.7);
      font-size: 27px;
      font-weight: bold;
      background: linear-gradient(90deg, #ffffff, #a5a5a5);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    input {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
      height: 50px;
      background: rgb(0, 0, 0);
      border: solid 1px rgb(255, 255, 255);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 16px;
      caret-color: rgb(255, 255, 255);
      color: white !important;
      overflow: auto;
      font-size: 16px;
      -webkit-text-fill-color: initial !important;

      &:focus {
        outline: none;
        border-color: #ffffff;
        background-color: #121212;
        color: #fff !important;
        caret-color: white;
        box-shadow: 0 0 10px #ffffff;
      }
    }

    .message {
      display: block;
      width: 400px;
      height: 150px;
      background-color: black;
      border: solid 1px rgb(255, 255, 255);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 16px;
      border-radius: 16px;
      caret-color: rgb(255, 255, 255);
      color: white;
      font-size: 16px;
      line-height: 1.5;
      resize: none;
      overflow: auto;
      text-align: left;
      vertical-align: top;
      white-space: normal;
      -webkit-text-fill-color: initial !important;

      &:focus {
        outline: none;
        border-color: #ffffff;
        background-color: #121212;
        color: white;
        caret-color: white;
        box-shadow: 0 0 10px #ffffff;
        transition: all 0.3s ease;
      }
    }

    button {
      width: 150px;
      height: 50px;
      border-radius: 20px;
      color: white;
      border: solid 2px rgb(255, 255, 255);
      background: transparent;
      transition: all 0.3s ease;
      font-weight: bold;
      font-size: 15px;
      transition: ease 0.3s all;

      &:hover {
        transform: scale(1.1);
        background-color: white;
        color: black;
        cursor: pointer;
        border: solid 2px black;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }

  form::after,
  form::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2px;
    border-radius: 24px;
    background-image: conic-gradient(
      from var(--angle),
      transparent 90%,
      rgb(255, 255, 255)
    );
    animation: spin 5s linear infinite;
  }

  form::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }
}

// MEDIA QUERRIES

@media (max-width: 768px) {
  /* MAIN */
  #hero-section {
    height: auto;
    padding: 20px;

    #accueil {
      width: 100%;
      height: auto;
      flex-direction: column;
      padding: 30px;
      text-align: center;

      h1 {
        font-size: 30px;
      }

      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }

      img {
        width: 200px;
        height: 300px;
        margin-bottom: 20px;
      }

      .info {
        width: 100%;
        border-left: none;
        padding-left: 0;

        button {
          width: 100%;
        }
      }
    }
  }

  #mes-competences {
    padding: 50px 20px;
    .info-competences {
      h2 {
        font-size: 40px;
      }

      p {
        font-size: 18px;
      }
    }

    .section-card {
      .groupe-card {
        .react,
        .js,
        .sass {
          width: 60px;
          height: 60px;
        }

        .titre-competence {
          p {
            font-size: 14px;
          }

          h4 {
            font-size: 20px;
          }
        }
      }

      #competence-card {
        width: 100%;
        height: 200px;
      }
    }
  }

  #projet {
    padding: 50px 20px;
    .gap-perso {
      gap: 40px;
    }

    .info-projet {
      h2 {
        font-size: 40px;
      }

      p {
        font-size: 18px;
      }
    }

    .projet-card {
      width: 100%;
      height: 250px;
      padding: 15px;

      .text-projet {
        h3 {
          font-size: 30px;
        }

        button {
          width: 150px;
          height: 45px;
          font-size: 12px;
        }
      }
    }

    #grid-projet {
      gap: 30px;

      .card-projet {
        width: 100%;
        height: 400px;

        button {
          width: 100px;
          height: 50px;
          font-size: 10px;
        }
      }
    }
  }

  #faq {
    padding: 50px 20px;

    .gap-perso {
      h2 {
        font-size: 40px;
      }

      p {
        font-size: 18px;
      }
    }

    .faq-container {
      .question-container {
        width: 100%;
        padding: 20px;
        gap: 20px;

        p {
          font-size: 20px;
        }

        .plus {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  /* MAIN */
  #hero-section {
    padding: 10px 0px 50px 0px;
    margin-top: 100px;
    overflow: hidden;

    #accueil {
      padding: 20px;
      gap: 30px;

      h1 {
        font-size: 27px;
      }

      h3 {
        font-size: 17px;
      }

      p {
        font-size: 14px;
        width: 90%;
        text-align: center;
      }

      img {
        width: 90%;
        height: 220px;
        padding: 0;
        margin: 0;
        object-position: 0px -50px;
      }

      .info {
        width: 100%;
        padding-left: 0;
        display: flex;
        align-items: center;

        button {
          width: 265px;
          height: 40px;
          font-size: 14px;
        }
      }
    }
  }

  #mes-competences {
    padding: 30px 15px;
    .info-competences {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 24px;
        width: 100%;
        text-align: center;
      }

      p {
        font-size: 18px;
        width: 80%;
        text-align: center;
      }
    }

    .section-card {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .groupe-card {
        display: flex;
        align-items: center;
        .react,
        .js,
        .sass {
          width: 70px;
          height: 70px;
        }

        .titre-competence {
          p {
            font-size: 14px;
          }

          h4 {
            font-size: 20px;
          }
        }
      }

      #competence-card {
        width: 85%;
        height: 150px;
      }
    }
  }

  #projet {
    padding: 40px 30px 15px 30px;
    .gap-perso {
      gap: 30px;
    }

    .info-projet {
      display: flex;
      align-items: center;
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 18px;
        width: 80%;
      }
    }

    .projet-card {
      width: 100%;
      height: 220px;
      padding: 10px;

      .text-projet {
        gap: 35px;
        h3 {
          font-size: 22px;
          width: 80%;
        }

        button {
          width: 170px;
          height: 40px;
          font-size: 12px;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    #grid-projet {
      gap: 30px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

      .card-projet {
        width: 100%;
        height: 300px;
      }

      .columnCard {
        gap: 20px;
      }

      .secondButton {
        width: 150px;
        height: 40px;
        font-size: 13px;
      }

      .projetTechnoGap {
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  #faq {
    padding: 80px 15px 15px 15px;
    gap: 40px;

    .gap-perso {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 18px;
        width: 90%;
        text-align: center;
      }
    }

    .faq-container {
      gap: 40px;
      .question-container {
        width: 85%;
        padding: 15px;
        gap: 15px;

        .question-colonne {
          gap: 20px;
        }

        p {
          font-size: 13px;
          text-align: left;
        }

        .plus {
          font-size: 22px;
        }

        .reponse {
          font-size: 12.5px;
          text-align: left;
          margin-left: 30px;
          padding: 0;
        }
      }
      .question-container.open {
        gap: 10px;
      }
    }
  }

  #reassurance {
    padding: 40px 15px 15px 15px;

    h2 {
      font-size: 20px;
      width: 85%;
    }

    h3 {
      font-size: 16px;
      width: 80%;
      text-align: center;
    }

    .styleButton {
      width: 150px;
    }

    button {
      width: 120px;
      font-size: 14px;
      height: 50px;
      border-radius: 16px;
      color: white;
      border: solid 1px #434343;
      transition: all 0.3s ease;
      font-weight: bold;
      transition: ease 0.3s all;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(4px);
      background: transparent;
      overflow: hidden;

      &:hover {
        background: transparent;
      }

      &:focus {
        background: transparent;
      }
    }
  }

  #contact {
    padding: 40px 15px 15px 15px;
    gap: 50px;

    .gap-perso {
      text-align: center;
      align-items: center;
      h2 {
        font-size: 24px;
        width: 90%;
      }
      p {
        font-size: 16px;
        width: 85%;
      }
    }

    form {
      width: 95%;

      .message {
        width: 105%;
      }

      label {
        font-size: 22px;
        display: flex;
        align-items: center;
      }

      input {
        width: 105%;
      }

      button {
        width: 140px;
        font-size: 14px;
      }
    }
  }
}
